:root {
	--brand-color: #013755;
}

.navbar {
	background-color: var(--brand-color);
}

.btn-primary {
	background-color: var(--brand-color);
	border-color: var(--brand-color);
	width: 420px;
}

.btn-secondary {
	width: 420px;
}

.help-block {
	margin-top: 5px;
}

.a-pad {
	padding: 0.375rem 0.75rem;
}

.downloads {
	width: 100%
}
.dfilem {
	background-color: #77a5d9;
	width: 33%;
	padding: 10px;
	border: 1px solid;
	font-weight: bold;
	float: left;
}
.mdatem {
	background-color: #77a5d9;
	width: 33%;
	padding: 10px;
	border: 1px solid;
	font-weight: bold;
	float: left;
}
.dloadm {
	background-color: #77a5d9;
	width: 33%;
	padding: 10px;
	border: 1px solid;
	font-weight: bold;
	float: left;
}
.dfile {
	background-color: #ffffff;
	width: 33%;
	padding: 10px;
	border: 1px solid;
	float: left;
}
.mdate {
	background-color: #ffffff;
	width: 33%;
	padding: 10px;
	border: 1px solid;
	float: left;
}
.dload {
	background-color: #ffffff;
	width: 33%;
	padding: 10px;
	border: 1px solid;
	float: left;
}
.clear {
	clear:both;
}
.strike {
	text-decoration: line-through;
	color: #000000;
}
